@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap');
.App {
  text-align: center;
}
body{
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff !important;
  text-align: left;
  background-color: #0f0a2d !important;
}
.headerTitle{
  font-family: 'Pacifico', cursive;
  color: #f3f204;
  font-size: 30px;
}
.headerTitle2{
  font-family: 'Josefin Sans', sans-serif;
  
  font-size: 30px;
}
/* header{
  color: white !important;
} */
.account{
  border-radius: 20px;
  border: 1px solid #263d60;
  padding-right: 5px;
  padding-left: 5px;
  color: #f3f204;
  font-weight: 400;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.gameImage{
  width: 100px;
  height: 100px;
  margin-bottom: 5px;
  border-radius: 20px;
}
.gameAlignment{
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  padding: 20px;
  background: #ffffff;
  box-shadow: 1px 1px 20px #09061d;
  border-radius: 30px;
}
.tokenAlignment{
  display: flex;
  margin: 0 auto;
  width: 500px;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 10px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #0f0a2d;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.btn-primary{
  background-color: #c90b40 !important;
  border: none!important;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
